<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Wikidossier</title>
  </head>
  <body>
    <h1>Wikidossier</h1>
    <p>This site runs
      <a href="https://github.com/riceissa/wikidossier">Wikidossier</a>.
    </p>
    <p>
      For user profiles, check out the <code>/user</code> endpoint, e.g.
      <a href="/user/Riceissa"><code>/user/Riceissa</code></a>.
    </p>
    <p>
      You can also compare users with <code>/usercompare</code>, e.g.
      <a href="/usercompare?usernames=Vipul|Riceissa|Ethanbas&amp;ns=0">
        Vipul, Riceissa, and Ethanbas on mainspace</a>.
    </p>
  </body>
</html>
